*{
  color: #A7CAB1;
  font-family: 'Work Sans', sans-serif;
}

body{
   overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
   text-align: center;
   margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
   padding: 10px 0px;
}

.thumbnail {
  margin-top: 1em;
  text-align: center;
  border: 0px;
  border-radius: 0px 0px;
  background-color: rgba(255,255,255,0.4);
}

.thumbnail h3 {
  color: #505050;
}

.thumbnail .fa {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

a, a:-webkit-any-link {
   text-decoration: none;
}

.row, .col {
  padding: 0px 0px;
  margin: 0px 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.fa {
   color: #A7CAB1;
}

.navbar {
  background: transparent;
  border-bottom: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #7bb98d;
  }

.navbar-default .navbar-nav>li>a {
  color: #A7CAB1;
}

.navbar-default .navbar-nav>li>a:active {
  color: #A7CAB1;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover  {
  color: #7bb98d;
}

.navbar-default .navbar-brand {
   color: #ffffff;
   font-weight: 500;
   text-align: center;
   font-size: 24px;
   opacity: 0.6;
   filter: alpha(opacity=60);
}

#logo {
   background: url('../images/logo.png') no-repeat center center;
   width: 80px;
   height: 42px;
}

.btn {
  background: #fff;
  color: #A7CAB1;
  margin-top: .5em;
  border-color: #A7CAB1;
}

.btn:hover {
   color: #fff;
   border-color: #A7CAB1;
   background: #7bb98d;
}

.btn:focus {
  color: #A7CAB1;
  background-color: #fff;
  border-color: #A7CAB1;
}

.btn:active:focus {
  background-color: #fff;
  border-color: #A7CAB1;
}

.btn:focus,.btn:active, button {
   outline: none !important;
}

/******************************
   Main Intro (Top of Page)
******************************/
.jumbotron {
  text-align: center;
  height: 100vh;
  margin-bottom: 0px;
  background: url('../images/JumboBG.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.jumbo_container {
  margin-top: 5vh;
}

.intro-info {
   padding-top: 65px;
}

#AppButton {
   background: url('../images/Apple-Button.png') no-repeat center center;
   background-size: contain;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   width: auto;
   height: 80px;
}

#AppButton:hover {
   opacity: 0.7;
   filter: alpha(opacity=70);
   cursor: pointer;
}

#iPhonePic {
   background: url('../images/iPhone_MockUp.png') no-repeat center center;
   background-size: contain;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   width: auto;
   height: 600px;
}


/******************************
   About
******************************/
#about {
   padding: 0px 0px 70px 0px;
   background: #fffff;
   height: auto;
}

#section-title {
   text-align: center;
   color: #ffffff;
   background: #A7CAB1;
   height:80px;
   width: 115px;
   margin: 0 auto;
   padding: 15px 0px 0px 0px;
   -moz-border-radius: 0 0 150px 150px;
   border-radius: 0 0 150px 150px;
}

.logo-feature img{
   width: 100%;
   margin: 0px auto;
   opacity: 0.4;
   filter: alpha(opacity=40);
}

#app-info .btn {
   width: 30%;
   float: none;
   margin: 7em auto 0em auto;
   text-align: center;
}


/******************************
   Features
******************************/
/*** SLIDESHOW ***/
#features {
  background-color: #d7edd8;
}

#slide_features {
   background: url('../images/forestBG.png') no-repeat center center;
   background-attachment: fixed;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   padding: 0px 0px 30px 0px;
   height: auto;
}

.slide img {
   text-align: center;
   background: #fff;
   width: auto;
   height: 400px;
   margin: 1em auto 0 auto;
}

.slick-prev, .slick-next {
   background: transparent;
   border: 0px;
   margin: .5em 2em;
}

#arrow-spot {
   width: 100%;
   text-align: center;
}

/*** App Description Paragraph ***/
#app-info {
   margin-bottom: 2em;
}

#app-info h1, #app-info p {
   padding: 10px 0px 10px 25px;
   text-align: left;
}

#iPhoneRight {
   background: url('../images/iPhoneRight.png') no-repeat center center;
   background-size: contain;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   width: 50%;
   height: 600px;
}


/******************************
   Testimonials
******************************/
#testimonials {
   padding: 0px 0px 30px 0px;
   background-color: #d7edd8;
}

#testimonials .item {
   margin-top: 2em;
}

blockquote p {
   color: #505050;
}


/******************************
   Contact Form
******************************/
#contactform {
  padding: 0px 0px 30px 0px;
}

#location {
   text-align: center;
}

iframe {
   margin: 1em 0;
   width: 100%;
	height: 40vh;
}

/******************************
   Footer
******************************/
#footer {
	background: #fbfbfb;
	padding: 40px 0px 20px 0px;
}



/***********************************
   Media Queries | Mobile Devices
************************************/
@media (max-width: 1230px) and (min-width:380px) {
   .navbar {
     padding-right: 65px;
   }

}

@media (max-width: 736px) and (min-width:399px) {
   #iPhonePic {
     display: none;
   }

   #iPhoneRight {
     width: 100%;
     margin: 1em auto 0 auto;
   }

   #app-info .btn {
     margin-top: 1em;
   }

}

@media (max-width: 380px) {

   h1,h2,h3,h4,h5,h6 {
      padding: 10px 0px;
   }

   h3 {
      font-size: 20px;
   }

   .navbar-default .navbar-nav>li>a,
   .navbar-default .navbar-nav>.active>a,
   .navbar-default .navbar-nav>.active>a:focus,
   .navbar-default .navbar-nav>.active>a:hover {
      background-color: rgba(255,255,255,0.75);
   }

   .jumbotron {
      background-size: auto;
      -webkit-background-size: auto;
      -moz-background-size: auto;
   }

   .jumbo_container {
     margin-top: 3vh;
   }

   .intro-info {
      padding-top: 10px;
   }

   #AppButton {
      width: auto;
      height: 40px;
      margin-bottom: .75em;
   }

   #iPhonePic {
      width: auto;
      height: 310px;
   }

   #app-info .btn {
      width: 50%;
      margin-top: 2em;
   }

   .app-icons .fa {
      margin: .15em 0;
   }

   #iPhoneRight {
      margin: 0 auto;
   }

   #about {
     padding-bottom: 30px;
   }

}

/* Loading Wheel */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url('../images/loading.gif') 50% 50% no-repeat rgb(255,255,255);
}